
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    align-items: center;
    row-gap: 40px;
    column-gap: 20px;
    transition: all .2s linear;

    &_disabled {
        opacity: .75;
        pointer-events: none;
    }

    &__message, &__text {
        grid-column: 1 / -1;
    }

    &__image-preview {
        max-width: 100%;
        height: auto;
        max-height: 200px;
        object-position: center;
        object-fit: contain;
        justify-self: center;
        align-self: center;
    }

    // Переопределяю стили semantic-ui
    .field {
        position: relative;

        .label {
            position: absolute !important;
            left: 50%;
            transform: translateX(-50%);
            bottom: -36px;
        }
    }

    @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}
